@model ProgramaEstoque.Models.PedidoModel

@{
    ViewData["Title"] = "Remover Pedido";
}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <p>Você deseja remover o pedido?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form asp-controller="Pedido" asp-action="Index">
                <input type="hidden" name="cd_cliente" value="@Model.IdCliente" />
                <button type="submit" class="btn btn-danger">Cancelar</button>
            </form>
        </div>
        <div class="col-6">
            <form>
                <input type="hidden" name="cd_pedido" value="@Model.Id" />
                <input type="hidden" name="cd_cliente" value="@Model.IdCliente" />
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
        </div>
    </div>
</div>