@model ProgramaEstoque.Models.ClienteModel

@{
    ViewData["Title"] = "Remover Cliente";
}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <p>Você deseja remover o Cliente: @Model.Nome?</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form asp-controller="Cliente" asp-action="Index">
                <button type="submit" class="btn btn-danger">Cancelar</button>
            </form>
        </div>
        <div class="col-6">
            <form form asp-controller="Cliente" asp-action="RemoverCliente">
                <input type="hidden" name="cd_cliente" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
        </div>
    </div>
</div>