@model ProgramaEstoque.Models.ClienteModel

@{
    ViewData["Title"] = "Confirmar Cadastro";
}

<div class="container text-center">
    <form asp-controller="Cliente" asp-action="CadastrarCliente">
        <div class="row">
            <div class="col-12">
                <p>Você deseja cadastrar o Cliente: @Model.Nome</p>
            </div>
        </div>
        <input type="hidden" name="nome" value="@Model.Nome" />
        <div class="row">
            <div class="col-12">
                <a role="button" class="btn btn-danger" asp-controller="Cliente" asp-action="Index">Cancelar</a>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </form>
</div>